* {
    padding: 0;
    margin: 0;
}

body {
    background: hsl(212, 45%, 89%);
}

footer {
    margin: auto;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.conteiner {
    justify-content: center;
    display: flex;
    max-height: 80vh;
    height: 70vh;
    width: 280px;
    align-items: center;
    background: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 80pt;
}

@font-face {
    font-family: 'nova';
    src:url('https://fonts.google.com/specimen/Outfit');
}

h1 {
    margin: auto;
    position: absolute;
    bottom: 190px;
    width: 100%;
    font-size: 22px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: "nova";
}

h2 {
    font-size: 14px;
    font-family: "nova";
    justify-content: center; 
    color: hsl(210, 7%, 65%);  
    display: flex;
    align-items: center;
    bottom: 130px;
    text-align: center;

    margin: auto;
    position: absolute;
    width: 100%;
}

#imagem {
    height: 200pt;
    width: 180pt;
    margin-bottom: 120pt;
    border-radius: 20px;
}

